* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(17, 90, 17, 0.832);
}

.header {
  background-color: rgb(17, 90, 17);
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
}

.logoNavBar {
  width: 120px;
  padding: 8px;
}

.headerBtnGroup {
  display: flex;
  gap: 30px;
}

.navBtn {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 6px;
  background-color: transparent;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
}

.navBtnNoticias:hover {
  border-bottom: 2px solid blue;
  transition: 1s;
}

.navBtnProximo:hover {
  border-bottom: 2px solid white;
  transition: 1s;
}

.navBtnTitulos:hover {
  border-bottom: 2px solid red;
  transition: 1s;
}

.sectionTitle {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  text-align: center;
  color: whitesmoke;
}

.sectionDescription {
  padding: 12px;
  text-align: center;
  color: whitesmoke;
}

.gridContainer {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: "mainContent sideBarContent";
  padding: 23px;
  width: 80%;
  margin: 0 auto;
  flex: 1 0 auto;
  background-color: #fff;
  border-radius: 12px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  grid-area: mainContent;
}

.categoryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 10px;
  border: 2px solid transparent;
  gap: 10px;
  border-radius: 12px;
  transition: 0.5s;
  cursor: pointer;
}

.categoryCard:hover {
  border-color: rgba(17, 90, 17, 0.679);
}

.cardLogo {
  display: flex;
  width: 50%;
}

.mainCategoryCardTitle {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
  text-align: center;
}

.mainCategoryCardDescription {
  font-size: 18px;
  padding: 6px;
  text-align: center;
}

.CategoryEstadio {
  display: flex;
  flex-direction: column;
  background-color: rgb(17, 90, 17);
  color: white;
  padding: 15px;
  border-radius: 10px;
  width: 90%;
}

.sectionEstadio {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 15px;
}

.sectionDescriptionEstadio {
  text-align: center;
  padding: 10px;
}

.sideBarContent {
  background-color: rgb(17, 90, 17);
  border-radius: 10px;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 300px;
  grid-area: sideBarContent;
  gap: 25px;
}

.sidebarCard {
  width: 75%;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.sidebarCardImg {
  width: 100%;
  border-radius: 10px;
}

.sidebarCardTitle {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 10px;
}

.sidebarCard:hover {
  border-color: gainsboro;
}

.footer {
  width: 100%;
  height: 80px;
  color: gainsboro;
  text-align: center;
  padding: 28px;
  background-color: rgb(17, 90, 17);
}
